body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(118, 161, 241);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}

/* text-field */
.text-field {
  display: flex;
  justify-self: start;
  margin-left: 20px;
  width: 400px;
  border: 1px solid #070707;
  border-radius: 0.25rem;
  background-color: white;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="text"] {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/* Button */
.btn_search {
  min-width: 40px;
  height: 38px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: none;
  background: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
}


/*  main block */
.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.container {
  margin-top: 30px;
  display: flex;
  padding: 1rem;
}

.table_container {
  display: flex;
  margin: 0 auto;
}



/*  */
header {
  width: 100%;
  height: 120px;
  background-color: rgb(118, 161, 241);
  color: white;
  display: flex;
  align-items: center;
}


main {
  background-color: white; 
  border-radius: 1rem; 
  margin: 1rem;
  display: flex; 
  justify-content: center;
}

td:hover {
  background-color: rgb(204, 219, 247)
}

th,
td {
  border: 2px solid rgb(194, 193, 193);
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}


.button {
  height: 40px;
  width: 140px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
}

.button:hover {
  background-color: rgb(204, 219, 247);
}

.btn_home {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.btn_home:hover {
  background-color: rgb(204, 219, 247);
}

.btn_icon {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

.header_menu {
  margin-left: 1rem;
  display: flex;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container_input {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #141313;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.label {
  margin-bottom: 20px;
  margin-left: 40%; 
  font-weight: 700; 
  font-size: large;
}

.selected {
  background-color: rgb(204, 219, 247);
}